body {
  background-image: url(/img/background.jpg);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#bordeExt {
  background-color: red;
  height: 590px;
  width: 1015px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bd0000;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorExterior {
  background-color: red;
  height: 550px;
  width: 1010px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bd0000;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorInterior {
  background-color: beige;
  height: 530px;
  width: 990px;
  border-radius: 5px;
  border-style: solid;
  border-color: #585858;
  border-width: 2px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

#contenedorInterior > div {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#contenedorIzq1 {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 30%;
}

#contenedorIzq2 {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 30%;
}

#contenedorCentral2 {
  height: 480px;
  width: 530px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#contenedorCentral .container {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 90%;
  width: 90%;
}

#contenedorCentral .containerInt {
  order: 1;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 80%;
  width: 90%;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#upperText {
  order: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

#underText {
  order: 2;
  border: solid;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 2px;
  font-family: fantasy;
  margin-top: 5px;
}

#contenedorDer1 {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: 40%;
}

#contenedorDer2 {
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 30%;
}

.BttBorder {
  background-color: red;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.roundBttBorder {
  background-color: red;
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

#contenedorDer .Btt {
  background-color: #b5b5b5;
  border: solid;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contenedorDer .roundBtt {
  background-color: #c31d1d;
  border: solid;
  border-radius: 100%;
  border-width: 2px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.labelC {
  align-self: center;
  font-size: 12px;
  margin-right: 45px;
}

.labelR {
  align-self: center;
  /* crear otro div dentro de cada boton */
}

div[class*="label"] {
  font-family: Arial, Helvetica, sans-serif;
}

#tag {
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  background-color: azure;
  font-size: 20px;
  width: 120px;
  height: 80px;
  margin: 0px;
  padding: 0px;
}

/* -borde ext dpad- */

.dPadBorder {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
}

#dPadXBorderExt {
  width: 115px;
  height: 40px;
  position: absolute;
}

#dPadYBorderExt {
  width: 40px;
  height: 115px;
  position: absolute;
}

/* -borde- */

.dPadBorderExt {
  background-color: black;
  border-radius: 10px;
  padding: 7px;
}

#dPadXBorder {
  width: 115px;
  height: 40px;
  position: absolute;
}

#dPadYBorder {
  height: 115px;
  width: 40px;
  position: absolute;
}

/* -borde int dpad- */

.dPadBorderInt {
  background-color: black;
  border-radius: 5px;
  padding: 7px;
}

#dPadXBorderInt {
  width: 100px;
  height: 25px;
  position: absolute;
}

#dPadYBorderInt {
  width: 25px;
  height: 100px;
  position: absolute;
}

/* -- */

#contenedorIzq {
  width: 200px;
  justify-content: space-around;
}

#contenedorCentral {
  flex-grow: 1;
  justify-content: center;
}

#contenedorDer {
  width: 200px;
  justify-content: space-around;
}

#bordeExtScreen {
  background-color: red;
  border-radius: 15px;
}

#bordeIntScreen {
  background-color: black;
}

#mediaScreen {
  background-image: url(/img/media.jpg);
  background-size: cover;
}
