body {
  background-color: #6096ff;
  height: 98vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#bordeExt {
  background: linear-gradient(to bottom right, red 25%, #8d0515);
  height: 590px;
  width: 1015px;
  border-radius: 5px;
  border-style: solid;
  border-color: #8d0515;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorExterior {
  background-color: red;
  height: 550px;
  width: 1010px;
  border-radius: 5px;
  border-style: solid;
  border-color: #bd0000;
  border-top-color: rgba(255, 255, 255, 0.433);
  border-bottom-color: #ffffff55;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedorInterior {
  background-color: beige;
  height: 530px;
  width: 990px;
  border-radius: 5px;
  border-style: solid;
  border-color: #585858;
  border-width: 2px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

#contenedorInterior > div {
  border-radius: 5px;
  /* border-style: solid; bordes contenedores ocultos */
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#contenedorIzq1 {
  border-radius: 5px;
  /* border-style: solid; */
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 30%;
}

#contenedorIzq2 {
  border-radius: 5px;
  /* border-style: solid; */
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 30%;
}

#bevelExtScreen {
  border-top-color: white;
  border-left-color: white;
  border-right-color: #a97139;
  border-bottom-color: #a97139;
  border-width: 5px;
  border-radius: 15px;
  /* background: linear-gradient(145deg, #fdf0dc 30%, #a97139); */
  background: linear-gradient(95deg, rgb(255, 255, 255), rgba(255, 0, 0, 0) 40%),
    linear-gradient(330deg, #a97139, rgba(255, 0, 0, 0) 100%);
}

#bevelIntScreen {
  border: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-width: 5px;
  border-radius: 15px;
  background-color: beige;
}

#contenedorCentral .container {
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 90%;
  width: 95%;
}

#contenedorCentral .containerInt {
  order: 1;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#upperText {
  order: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  font-size: 25px;
}

#underText {
  order: 2;
  border: solid;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2px;
  font-family: fantasy;
  margin-top: 10px;
  font-size: 20px;
}

#contenedorDer1 {
  border-radius: 5px;
  /* border-style: solid; */
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 50%;
}

#contenedorDer2 {
  border-radius: 5px;
  /* border-style: solid; */
  border-color: grey;
  border-width: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 30%;
}

.BttBorder {
  background-color: red;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.roundBttBorder {
  background: linear-gradient(to bottom right, red 25%, #8d0515);
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

#contenedorDer .Btt {
  background-color: #b5b5b5;
  border: solid;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contenedorDer .roundBtt {
  background: linear-gradient(to bottom right, #ff3e51 25%, #d71427);
  border: solid;
  border-radius: 100%;
  border-width: 2px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.containerAB {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.labelCol {
  align-self: center;
  font-size: 12px;
  margin-right: 90px;
}

.labelRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

div[class*="label"] {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#tag {
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  background-color: azure;
  font-size: 20px;
  width: 120px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-size: 25px;
  letter-spacing: 10px;
}

/* -borde ext dpad- */

.dPadBorder {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
}

#dPadXBorderExt {
  width: 115px;
  height: 40px;
  position: absolute;
}

#dPadYBorderExt {
  width: 40px;
  height: 115px;
  position: absolute;
}

/* -borde dpad- */

.dPadBorderExt {
  background-color: black;
  border-radius: 10px;
  padding: 7px;
}

#dPadXBorder {
  width: 115px;
  height: 40px;
  position: absolute;
}

#dPadYBorder {
  height: 115px;
  width: 40px;
  position: absolute;
}

/* -borde int dpad- */

.dPadBorderInt {
  background-color: black;
  border-radius: 5px;
  padding: 4px;
  border: solid;
  border-top-color: #585858;
}

#dPadXBorderInt {
  width: 100px;
  height: 25px;
  position: absolute;
}

#dPadYBorderInt {
  width: 25px;
  height: 100px;
  position: absolute;
}

/* -- */

#contenedorIzq {
  width: 200px;
  justify-content: space-around;
}

#contenedorCentral {
  flex-grow: 1;
  justify-content: center;
}

#contenedorDer {
  width: 200px;
  justify-content: space-around;
}

#bordeExtScreen {
  height: 80%;
  width: 95%;
  background-color: red;
  border-radius: 15px;
}

#bordeIntScreen {
  height: 95%;
  width: 95%;
  background-color: black;
}

#mediaScreen {
  height: 97%;
  width: 95%;
  background-image: url(/img/media.jpg);
  background-size: cover;
}
